.button {
    margin-top: 1em;
}

.button input {
    padding: 0.5em 0;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: rgb(0, 61, 25);
    border: 1px solid rgb(34, 170, 136);
    background-color: rgb(34, 170, 136);
    font-size: 1em;
    font-weight: bold;
}

.button input:hover {
    background-color:  rgb(0, 145, 60);
    color: white;
}