.main_content {
    padding: 2em 4em 4em 4em;
    flex: 1;
}

.top_container {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    height: 50px;
}

.top_container h2 {
    flex: 1;
}

.top_container button {
    padding: 0.5em 2em;
    margin-right: 1em;
    background-color: inherit;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: .2s;
}

.green {
    color: green;
    border: 3px solid green;
}

.green:hover {
    background-color: green;
    color: white;
}

.red {
    color: rgb(255, 67, 67);
    border: 3px solid rgb(255, 67, 67);
}

.red:hover {
    background-color: rgb(255, 67, 67);
    color: white;
}