.navbar {
    background-color: rgb(34, 170, 136);
}

.navbar_container {
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
}

.navbar h1 {
    font-size: 2.5em;
    color: #222;
}

.navbar ul {
    flex: 1;
    text-align: right;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    font-weight: bold;
    font-size: 1.1em;
}

.navbar ul li a,
.navbar ul li span {
    display: inline-block;
    color: rgb(0, 61, 25);
    padding: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.navbar ul li a:hover,
.navbar ul li span:hover {
    transform: translate(0px, -5px);
    color: white;
}

.navbar ul li p {
    font-style: italic;
    color: rgb(0, 61, 25);
}