.project_button {
    list-style: none;
}

.project_button button {
    background-color: inherit;
    border: none;
    font-size: 1.2em;
    margin-bottom: 0.6em;
    margin-left: 0.2em;
}

.project_button button:hover {
    font-weight: bold;
}